@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum Myeongjo:wght@700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300&display=swap');

:root {
    --primary: #ccffcc;
    --secondairy: #817E9F;

    --primaryFont: "Montserrat";
    --secondairyFont: "Nanum Myeongjo"
}

html, body {
    margin: 0;
    padding: 0;
    font-family: var(--primaryFont), Arial, Helvetica, sans-serif;
    font-size: 1em;
    position: relative;
    scroll-snap-type: y mandatory;
}

.snap {
    scroll-snap-align: start;
}

/* Opmaak van de start section */
#start {
    height: 100vh;
}

.float-container {
    width: 100%;
}

.right {
    float: right;
    font-size: 2em;
    margin-top: -1em;
}

.flex-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
    height: 100vh;
    padding: 0em 6em 0em 6em;
}
  
  .flex-items:nth-child(1) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    padding-top: 6em;
}
  
  .flex-items:nth-child(2) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
}
  
  .flex-items:nth-child(3) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    padding-bottom: 6em;
}

/* Opmaak van de info section */
#info {
    height: 100vh;
}

.info-title-block h2 {
    margin: 0;
    padding: 0;
}

.info-container {
    width: 100%;
    height: 50vh;
}

.inner-info-container {
    width: 100%;
}

.inner-info-container .right-container{
    padding-top: 4em;
}

.inner-info-container .left-container {
    margin: 0;
    padding: 2em 0 0 0;
}

.left-container {
    float: left;
    width: 50%;
    padding-top: 6em;
}

.right-container {
    float: left;
    width: 50%;
    padding-top: 6em;
}

.inner-padding {
    padding: 0em 6em 0em 6em;
}

.call-to-action {
    width: 100%;
    height: 40vh;
    background-color: #d9d5f5;
    padding-top: 2em;
    border-bottom: 5px solid #bab5ca;
}

.content-container {
    background-color: #bab5ca;
    border-radius: 10px;
    padding: 1em;
}

.bottom-container {
    padding-right: 10em;
}

.color-block {
    background-color: #bbb4ee;
    height: 20vh;
    padding: 1em;
    border-radius: 10px;
}

.info-title-container {
    width: 70%;
    padding: 0em 0em 4em 0em;
}

.info-tekst-container {
    width: 50em;
}

.tekst-container {
    height: 50vh;
    padding-top: 4em;
}

.blocks {
    width: 100%;
    height: 40vh;
    position: relative;
}

.lock-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.left-block {
    float: left;
    width: 49%;
    margin-right: 1%;
    background-color: #b3b2c0;
    border-radius: 10px;
    height: 30vh;
    
}

.right-block {
    float: left;
    width: 49%;
    margin-left: 1%;
    background-color: #b3b2c0;
    border-radius: 10px;
    height: 30vh;
}

/* Opmaak van de header */
svg {
    width: 5%;
    float: left;
    margin: -1em 2em 0em 0em;
}

/* Typographie */
h1 {
    font-size: 8vw;
    line-height: .9em;
    margin: 0;
    margin-top: -1em;
}

h1 span {
    color: #e25b4c;
}

h1 span:hover {
    cursor: pointer;
}

h2 {
    margin: 0;
    font-size: 3.5vw;
}

.call-to-action h2 {
    font-size: 3em;
}

p {
    margin: 0;
}

span {
    color: var(--secondairy);
}

.underline {
    text-decoration: underline;
    text-decoration-color: #7de77d;
    color: #000;
}

.red-underline {
    text-decoration: underline;
    text-decoration-color: #e25b4c;
    color: #000;
}

.green {
    color: #7de77d;
}

.green-background {
    background-color: #7de77d;
    color: #000;
    border-radius: 10px;
    padding: 0em .2em 0em .2em;
}

.yellow {
color: #e25b4c;
}

.dark {
    background-color: #000 !important;
    color: #000 !important;
}

.whietTitle {
    color: #fff;
}

/* Opmaak van de buttons */
button {
    padding: 1em;
    width: 10em;
    margin-right: 1em;
    border: none;
    border-radius: .5em;
    font-family: var(--primaryFont), Arial, Helvetica, sans-serif;
}

button:hover {
    cursor: pointer;
    opacity: .8;
}

.dark-btn {
    background-color: #000;
    color: white;
    width: 16em;
}

/* hide scrollbar but allow scrolling */
element {
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 
}

element::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

.bottom-padding {
    padding-bottom: 1em;
}

/* Opmaak van de bluescreen */
#bluescreen {
    height: 100vh;
    background-color: #0078d7;
    color: #fff;
    font-family: "Source Sans Pro";
    position: fixed;
    z-index: 100;
    top: 0;
    width: 100%;
    transition: .4s;
}

.inner-bluescreen {
    padding: 8em;
}

#bluescreen h2 {
    font-size: 10em;
}

.inner-bluescreen p {
    font-size: 2em;
    width: 60%;
    padding-bottom: 1em;
}

.qr-code {
    width: 60%;
}

.qr-code img {
    width: 10%;
    float: left;
}

.qr-code .right-text {
    float: left;
    width: 88%;
    font-size: .7em;
    padding-left: 2%;
    margin: 0;
}

.right-text p {
    width: 100%;
    margin-top: -6px;
}

#bluescreen span {
    color: #fff;
}

#herstart:hover {
    cursor: pointer;
    text-decoration: underline;
}

.remove {
    margin-top: -100vh;
    background-color: white;
}

/* Responsive design */
@media only screen and (max-width: 1000px) {
    .left-container {
        float: left;
        width: 100%;
        padding-top: 2em;
    }
    
    .right-container {
        float: left;
        width: 100%;
        padding-top: 2em;
    }

    #bluescreen.remove {
        display: none;
    }

    #bluescreen {
        font-size: .6em;
    }

    .arrow-down {
        display: none !important; 
    }

    svg {
        display: none !important; 
    }

    .flex-container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: stretch;
        align-content: stretch;
        height: 100vh;
        padding: 0em 2em 0em 2em;
    }

    .inner-padding {
        padding: 0em 2em 0em 2em;
    }

    h1 {
        font-size: 4em;
    }

    h2 {
        font-size: 2em;
    }

    .info-title-container {
        width: 100%;
        padding: 0em 0em 4em 0em;
    }
    
    .info-tekst-container {
        width: 100%;
    }
  }